<%- include ('../partials/head') %>
<%- include ('../partials/menu') %>
<%- include ('../partials/message') %>
<body>
  <div class="container">
  <div class="row">
    <div class="col-3">
      <%- include('../partials/userinfo') %>
      <b>You placed a bet of:</b>
      <p><%= bet %></p>
      <p id="results"></p>
      <form action="/update_tokens" method="GET">
        <input id="betResult" name="tok" type="submit" type="hidden"/>
      </form>
      
    </div>
    <div class="col-7">
      <%- include('../partials/table') %>
    </div>
  </div>
  </div>
</body>

<%- include ('../partials/footer') %>