<%- include ('../partials/head') %>
<%- include ('../partials/menu') %>
<%- include ('../partials/message') %>
<body>
  <div class="container">
  <div class="row">
    <div class="col-3">
      <%- include('../partials/userinfo') %>
      <b>You placed a bet of:</b>
      <p id="bet" type="number" value="<%- bet %>"><%= bet %></p>
      <p id="results"></p>

      <form action="/update_tokens" method="GET">
        <button id="fResult" style="display: none;">
          <input type="hidden" type="number" id="eResult" name="sign"/>
          <input type="hidden" type="number" name="tokenz" value="<%-parseInt(tokens)%>"/>
          <input type="hidden" type="number" name="bet" value="<%-bet%>"/>OK
        </button>
      </form>

        
      <script src="../../resources/js/blackjack.js"></script>
    </div>
    <div class="col-7">
      <%- include('../partials/table') %>
    </div>
  </div>
  </div>
</body>

<%- include ('../partials/footer') %>