<%- include ('../partials/header') %> 
<%- include ('../partials/navbar') %>

<main>
  <div class="container-fluid">
    <!-- THE REST OF YOUR HTML CODE GOES HERE -->
    <h1><centre>Welcome to BlackJackNet <%= username %></centre></h1>
    <table>
      <tbody>
        <tr><td> User: </td><td><%= username %></td></tr>
        <tr><td> Email: </td><td><%= email %></td></tr>
        <tr><td> Chips: </td><td><%= chips %></td></tr>
      <tbody>
    </table>

  </div>
</main>

<%- include ('../partials/footer') %>