<%- include ('../partials/head') %>
<%- include ('../partials/menu') %>

<main>
  <div class="col"><%- include ('../partials/message') %></div>
  <div class="container">
    <table>
      <tbody>
        <tr><td> User: </td><td><%= user %></td></tr>
        <tr><td> Contact: </td><td><%= contact %></td></tr>
        <tr><td> Tokens: </td><td><%= tokens %></td></tr>
      <tbody>
    </table>
  </div>
</main>

<%- include ('../partials/footer') %>
