<%- include ('../partials/head') %>
<%- include ('../partials/menu') %>
<%- include ('../partials/message') %>

<body>
  <div class="container">
        <%- include('../partials/userinfo') %>
        <%- include('../partials/actionButton') %>
  </div>
</body>


<%- include ('../partials/footer') %>
