
<div class="card text-center border-secondary my-3" style="max-width: 18rem">
  <h5 class="card-header text-center">User Info</h5>
  <div class="card-body">
    <div>
      <tr><td><b> Name: </b></td><td value="<%= user %>" ><%= user %></td></tr>
    </div>
    <div>
      <tr><b> Contact: </b> <%= contact %></tr>
    </div>
    <div>
      <tr><td><b> Tokens: </b> </td><td id="tokens" value="<%- parseInt(tokens) %>"><%= tokens %></td></tr>
    </div>  
  </div>
</div>
