<div class="container">
  <tr><td><b> User: </b></td><td value="<%= user %>" ><%= user %></td></tr>
  <tr><b> Contact: </b> <%= contact %></tr>
  <tr><td><b> Tokens: </b> </td><td id="tokens" value="<%- parseInt(tokens) %>"><%= tokens %></td></tr>
</div>